<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
</head>
<body>
    <style>
        body {
            background-color: rgba(89, 89, 151, 0.8);
        }
        
        .heading {
            font-size: 30px;
            text-align: center;
            color: #fff;
            text-decoration: underline;
        }

        #thank-you {
            background-color: #fff;
            width: 60%;
            margin: auto;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }


    </style>

    <h1 class="heading">Survey Form</h1>
    
    <div id="thank-you">
        <h1>Thank you for taking the survey!</h1>
    </div>

</body>
</html>